/* --- Main Sections --- */

html, body {
    font-family: 'Roboto Condensed', Helvetica, sans-serif !important;
    font-weight: 300;
    color: darkslategray;
}

#app {
    text-decoration: none;
}

.layout-div {
    background-color: rgb(5, 6, 23);
}

.mainBackgr {    
    background-color: rgb(5, 6, 23);
    background-image: url("../img/bulb.jpg");
    background-size: contain;
    background-repeat: no-repeat;
}

.wrapper {
    margin-left: 18%;
    line-height: 1.5 !important;
}

.container {
    margin: 0 !important;
    padding: 0 !important;
}

.secondary {
    color: darkslategray;
    background-color: white;
}

.home {
    padding-left: 20px;
    padding-right: 10px;
    font-size: 1.3rem;
    color: lightgray;
    background-color: transparent;
    
    height: 100vh;
}

.about {
    padding-left: 20px;
    padding-right: 10px;
    font-size: 1.3rem;
    color: magenta;
    text-shadow: 0px 2px 30px rgb(255, 0, 255);
    background-color: rgb(5, 6, 23);
}

.portfolio {
    padding-left: 20px;
    padding-right: 10px;
    font-size: 1.3rem;
    color: cyan;
    text-shadow: 0px 0px 30px rgb(0, 255, 255) !important;
    background-color: rgb(5, 6, 23);; 
}

.profile {
    padding-left: 20px;
    padding-right: 10px;
    font-size: 1.3rem;
    color: rgb(57, 255, 20);
    text-shadow: 0px 0px 30px rgb(57, 255, 20);
    background-color: rgb(5, 6, 23);
}

.section-heading {
    padding-right: 12rem;
}

#myPhoto {
    width: 75%;
    height: auto;
    border-radius: 49%;
    box-shadow: 0.4rem 0.8rem 1rem #222f38 !important;
}

.sidenav {
  height: 100%;
  width: 18%;
  position: fixed;
  z-index: 10;
  top: 0;
  left: 0;
  background-color: rgb(5, 6, 23);
  overflow-x: hidden;
  padding-top: 20px;
  color: white;
  text-decoration: none;
}

.sidenav:hover {
    background-color: rgb(25, 38, 58);
}

.sidenav-inner {
    text-decoration: none;
    padding: 6px 8px 6px 16px;
    color: white;
    display: block;
}

.sidenav-inner:hover {
    text-shadow: 1px 3px 6px #222f38, -1px 3px 6px #222f38;
    border-radius: 5px;
    text-decoration: none;
}

.sidenav:hover #myPhoto {
    box-shadow: -2px 8px 30px 5px #000 !important;
}

.footer {
  margin-left: 22%;
  font-size: 1rem; 
  padding: 0px 10px;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    margin-bottom: 0.5rem;
    font-weight: 300 !important;
    line-height: 1.5 !important;
}

strong {
    font-weight: bold;
}

div.my-card-content h4 {
    color: cyan;
    text-shadow: 0px 0px 50px rgb(0, 255, 255);
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .navlink {font-size: 1.3rem;}
}

/* --- Buttons --- */

.enter-btn {
    color: magenta;
    background-color: #192127;
    border: solid 1px magenta;
    padding: 10px;
    box-shadow: 0px 2px 30px -2px rgba(252, 42, 252, 0.74);
    text-decoration: none; 
    border-radius: 5px;
}

.enter-btn:hover {
    color: magenta;
    border: solid 1px magenta;
    box-shadow: 0px 30px 40px -5px rgba(252, 42, 252, 0.74);
    text-shadow: 0px 2px 10px rgba(252, 61, 252, 0.685);
    text-decoration: none !important;
    padding: 15px;
}

.glow-on-hover {
    width: auto;
    padding: 5px 20px;
    height: auto;
    outline: none;
    color: rgb(0, 255, 255);
    background: rgb(5, 6, 23);
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 2px;
}

.glow-on-hover:before {
    content: '';
    background: linear-gradient(45deg, #ff0000, #ff4400, #ff9900, #ffff00, #d0ff00, #00ff00, #00ff9d, #00ffff, #0066ff, #0000ff, #4c00ff, #7700ff, #c000ff, #ff00ff, #ff009d, #ff0055, #ff0030);
    position: absolute;
    top: -2px;
    left:-2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 20s linear infinite;
    -webkit-animation: glowing 20s linear infinite;
    opacity: 0;
    transition: opacity .3s ease-in-out;
}

.glow-on-hover:active {
    color: rgb(5, 6, 23);;
}

.glow-on-hover:active:after {
    background: transparent;
}

.glow-on-hover:hover:before {
    opacity: 1;
}

.glow-on-hover:after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgb(5, 6, 23);
    left: 0;
    top: 0;
}

link {
    text-decoration: none;
}

link:hover {
    text-decoration: none;
}

.button-icon {
    font-family: 'Roboto Condensed', Helvetica, sans-serif;
    font-size: 1.3rem;
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    color: white;
    display: inline;
}

.button-icon:hover {
    color: #0ff;
    border-radius: 5px;
    text-decoration: none;
}

.navlink {
    font-family: 'Roboto Condensed', Helvetica, sans-serif;
    font-size: 1.3rem;
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    color: white;
    display: block;
    animation: glow 10s linear 3s 2 alternate;
    -webkit-animation: glow 10s linear 3s 2 alternate;
}

.navlink:hover {
    background-color: rgb(5, 6, 23);
    box-shadow: 5px 5px 30px 10px #0ff;
    color: #0ff;
    border-radius: 5px;
    text-decoration: none;
}

.navlink:hover:before {
    content: "{"; 
    padding-right: 3px;
}

.navlink:hover:after {
    content: "}"; 
    padding-left: 3px;
}

/* --- Keyframes --- */ 

@keyframes glowing {
    0% {
        background-position: 0 0;
    }

    50% {
        background-position: 400% 0;
    }

    100% {
        background-position: 0 0;
    }
}

@-webkit-keyframes glowing {
    0% {
        background-position: 0 0;
    }

    50% {
        background-position: 400% 0;
    }

    100% {
        background-position: 0 0;
    }
}

@keyframes glow {
  from {
    text-shadow: 0 0 3px #fff;
  }
  
  to {
    text-shadow: 0 0 10px #fff, 0 0 20px cyan, 0 0 30px cyan, 0 0 40px cyan, 0 0 50px cyan, 0 0 60px cyan, 0 0 70px cyan;
  }
}

@-webkit-keyframes glow {
    from {
    text-shadow: 0 0 3px #fff;
  }
  
  to {
    text-shadow: 0 0 10px #fff, 0 0 20px cyan, 0 0 30px cyan, 0 0 40px cyan, 0 0 50px cyan, 0 0 60px cyan, 0 0 70px cyan;
  }
}

.slideInUp1 {
    animation: 5s ease 0s normal forwards 1 slideInUp;
    -webkit-animation: 4s ease 0s normal forwards 1 slideInUp;
    opacity: 0;
}

@keyframes slideInUp {
  from {
    transform: translate3d(0, 100%, 0);
    opacity: 0;
  }

  to {
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}

@keyframes fadein {
    from{opacity:0}
    to{opacity:1}
}

@-webkit-keyframes fadein {
    from{opacity:0}
    to{opacity:1}
}

/* --Colors-- */

.yellow {
    color: yellow;
}

.blue {
    color: royalblue;
}

.lightblue {
    color: lightskyblue;
}

.magenta {
    color: magenta;
}

.cyan {
    color: cyan;
}

.cyan-shadow {
    text-shadow: 0px 2px 10px rgba(0, 255, 255, 0.8);
    color: cyan;
}

.magenta-shadow {
    text-shadow: 0px 2px 10px rgb(252, 61, 252);
    color: magenta;
}

.lightgreen {
    color: lightgreen;
}

.orange {
    color: orange;
}

.purple {
    color: purple;
}

.red {
    color: red;
}


/* --Image descriptions-- */
* {
  margin: 0;
  padding: 0;
  border: 0;
}

.img__wrap {
  position: relative;
  height: 200px;
  width: 257px;
  margin-top: 3rem;
  margin-left: 1.5rem;
  margin-right: 1.5rem;
}

.img1, .img5 {
    box-shadow: 12px 20px 25px 0px #3c5363ab;
}

.img1:hover, .img5:hover {
    box-shadow: 18px 30px 30px 0px rgba(255, 0, 255, 0.5);
}

.img2, .img6 {
    box-shadow: 12px 20px 25px 0px #3c5363ab;
}

.img2:hover, .img6:hover {
    box-shadow: 18px 30px 30px 0px rgba(0, 255, 255, 0.5);
}

.img3, .img4 {
    box-shadow: 12px 20px 25px 0px #3c5363ab;
}

.img3:hover, .img4:hover {
    box-shadow: 18px 30px 30px 0px rgba(57, 255, 20, 0.5);
}

.img__description_layer1 {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(255, 0, 255, 0.6);
  color: #fff;
  text-shadow: 1px 1px 2px purple, -1px 0px 2px purple;
  visibility: hidden;
  opacity: 0;
  display: inline-block;
  padding: 3rem 1rem;
  align-items: center;
  justify-content: center;
  transition: opacity .4s, visibility .4s;
}

.img__wrap:hover .img__description_layer1 {
  visibility: visible;
  opacity: 1;
}

.img__description_layer2 {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(2, 185, 195, 0.6);
  color: #fff;
  text-shadow: 1px 1px 2px darkslategray, -1px 0px 2px darkslategray;
  visibility: hidden;
  opacity: 0;
  display: inline-block;
  padding: 3rem 1rem;
  align-items: center;
  justify-content: center;
  transition: opacity .4s, visibility .4s;
}

.img__wrap:hover .img__description_layer2 {
  visibility: visible;
  opacity: 1;
}

.img__description_layer3 {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(60, 230, 20, 0.6);
  color: #fff;
  text-shadow: 1px 1px 2px darkslategray, -1px 0px 2px darkslategray;
  visibility: hidden;
  opacity: 0;
  display: inline-block;
  padding: 3rem 1rem;
  align-items: center;
  justify-content: center;
  transition: opacity .4s, visibility .4s;
}

.img__wrap:hover .img__description_layer3 {
  visibility: visible;
  opacity: 1;
}

.img__description {
  transition: .4s;
  transform: translateY(1em);
}

.img__wrap:hover .img__description {
  transform: translateY(0);
}

/* --- Modal --- */
.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 15;
  background: rgba(0, 0, 0, 0.7);
}  

.modal-main {
  position: fixed;
  background-color: white;
  color: magenta;
  width: 60%;
  height: auto;
  border: 1px solid cyan;
  top: 30%;
  left: 50%;
  z-index: 20;
  transform: translate(-50%, -50%);
}

.modal-footer {
    background-color: rgb(5, 6, 23);
    color: white;
}

.display-block {
  display: block !important;
  opacity: 1;
  z-index: 250;
}

.display-none {
  display: none;
}

.show {
    opacity: 1;
}

/* --- Text Effects --- */

.text-effect1 {
    font-size: 6rem;
    color: rgba(25, 38, 58, 0.733);
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
    text-shadow: rgba(10, 10, 10, 0.7) -5px 8px 7px;
    animation: 5s ease 0s normal forwards 1 fadein;
    -webkit-animation: 5s ease 0s normal forwards 1 fadein;
    opacity: 0.1;
}

